<div class="play-ground">
  <div class="header">
    <p>Next player: {{nextPlayer}}</p>
    <button class="btn-reset" (click)="reset()">Reset</button>
  </div>
  <fieldset [disabled]="winner || draw">
    <div class="row" *ngFor="let row of board; index as x">
      <button [disabled]="col" (click)="onCellClick(x, y)" class="col" *ngFor="let col of row; index as y">
        {{ col }}
      </button>
    </div>
  </fieldset>
  <div class="message">
    <span class="success" *ngIf="winner">
      The winner is: {{winner}}
    </span>
    <span class="danger" *ngIf="draw">
      It is a draw reset to restart the game
    </span>
  </div>
</div>